#Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

#Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

#Java:
*.class

#排除所有.开头的隐藏文件
.*

#不排除.gitignore文件和Test.class文件
!.gitignore
!Test.class

# My configurations:
db.ini
deploy_key_rsa
